@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --border-color: #e3e5e4;
    --background-color: #c3c7ca;
    --big-text: 'Sacramento', cursive;
    --text-color: #34444f;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    user-select: none;
}


body{
	min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    margin: 0;
    
    text-align: center;
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);;
}
.mainDiv{
    margin-bottom: 20px;
}
#he{

    font-size: 2rem;
    font-family: 'Sacramento', cursive;
    text-transform: uppercase;
}
.head{
    padding: 5px 0;
    margin-top: 8px;
}

.taker{
  margin: 20px 0;
  padding: 5px 25px;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  border: none;
}

.taken{
    padding: 3px 5px;
    margin-left: 5px;
    border-radius: 3px;
    font-size: 20px;
    background: transparent;
    outline: none;
    border: 1px solid #000;
    font-weight: 700;
    color: #eee;
}

.max{
 font-size: 2rem;
 font-family: 'Sacramento', cursive;
 text-transform: uppercase;
}



.average{
 font-size: 2rem;
 font-family: 'Sacramento', cursive;
 text-transform: uppercase;
}


.min{
 font-size: 2rem;
 font-family: 'Sacramento', cursive;
 text-transform: uppercase;
}

.text{
    font-size: 1.5rem;
    margin-bottom: 9px;
}
.firstText{
   padding: 10px 0;
   font-size: 1.5rem;
   
}